<div class="row" ng-controller="HelloNameCtrl">
	<div class="col-md-12">
		<input type="text" id="name" class="form-control" placeholder="Please Enter Name" ng:model="name"></input>
	</div>
	<div class="col-md-12">
		<h3>Hello <hello-name></hello-name></h3>
		<button class="btn btn-primary" app-ng-click="onSubmitClick()">Submit</button>
	</div>
	<div class="col-md-12">
		<display-name></display-name>
		<div display_name></div>
		<div class="display-name"></div>
		<!-- directive: display-name -->
		<!-- directive: display-name -->
	</div>
</div>