
<div class="row" style="margin-top:25%;">
	<div class="col-md-12">
		<div class="col-md-offset-4 col-md-6">
			<form>
				<div class="form-group">
					<label for="userName" class="label label-default">User Name</label>
					<input type="text" id="userName" name="userName" class="form-control" ng-model="userName" placeholder="Enter UserName"></input>
				</div>
				<div class="form-group">
					<label for="password" class="label label-default">Password</label>
					<input type="text" id="password" name="password" class="form-control" ng-model="password" placeholder="Password"></input>
				</div>
				<button class="btn btn-primary" ng-click="onSubmitBtnClick($event)">Submit</button>
			</form>
		</div>
	</div>
</div>