<div class="bs-docs-section">
	<div class="row">
		<div class="col-sm-12">
			<h1>How To Offer More Personal Customer Support Through Effective Automation</h1>
			<p>Robots are great for cleaning the floor and are perfect for exploring the moon. They’re just not that great at customer support. The last thing your customers want is another “We received your message” email or “Thank you for holding” recording. Robots only succeed in making customers feel like another number, a dubious accomplishment for your team. They’re the opposite of the personal touch that effective support is supposed to be all about.</p>
		</div>	
	</div>
	<div class="row">
		<div class="col-sm-offset-6 col-sm-6">
			<div score setScore=40></div>
		</div>
	</div>
</div>